<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


	<http auto-config="true">
		<!-- intercept-url pattern="/welcome*" access="ROLE_DEPARTMENT_MGR,ROLE_REGULAR_EMP,ROLE_GUEST_USR,ROLE_CORPORATE_MGR" />
		<intercept-url pattern="/admin*" access="ROLE_ADMIN" /-->
		<intercept-url pattern="/login" filters="none" />
		<intercept-url pattern="/resources*" filters="none" />
		<intercept-url pattern="/register" filters="none" />
		<intercept-url pattern="/logout" filters="none" />
		<intercept-url pattern="/loginfailed" filters="none" />
		<intercept-url pattern="/admin*" access="ROLE_ADMIN" />
		<intercept-url pattern="/downloadlogfile" access="ROLE_ADMIN" />
		<intercept-url pattern="/Dashboard*" access="ROLE_DEPARTMENT_MGR,ROLE_REGULAR_EMP,ROLE_CORPORATE_MGR" />
		<intercept-url pattern="/*" access="IS_AUTHENTICATED_FULLY"/>
		<form-login login-page="/login" default-target-url="/"
			authentication-failure-url="/loginfailed"   />
		<logout logout-success-url="/logout" />
	</http>
	
	<authentication-manager>
		<authentication-provider ref="securityDAO" >
		</authentication-provider>
	</authentication-manager> 
</beans:beans>