<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/dockloud" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	
	<bean id="securityDAO" class="com.asu.edu.base.dao.impl.SecurityDAOImpl">
			<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="adminDAO" class="com.asu.edu.base.dao.impl.AdminDAOImpl">
			<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="registerationDAO" class="com.asu.edu.base.dao.impl.RegisterationDAOImpl">
			<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="commonDAO" class="com.asu.edu.base.dao.impl.CommonDAOImpl">
			<property name="dataSource" ref="dataSource"></property>
	</bean>

</beans>